.home-container {
    /* padding-right: 3rem; */
    /* padding-left: 3rem;  */
    /* padding-top: 3rem; */
    /* margin-top: 3rem; */
    padding: 0;
    margin-left: 2rem;
    /* margin-top: -15rem; */
    width: fit-content;
    height: 100%;
    display: flex;
    /* justify-content: flex-end; */
    border: 3px solid rgb(0, 248, 248);
}

.choose-n-start-btn {
    font-family: 'Indie Flower', cursive;
    color: rgba(39, 93, 8, 1);
    font-size: 30px;
    font-weight: 1000;
    background-color: #d2e5ed;
    border-radius: 12px;
    border: 1px solid rgb(0, 45, 45);
    height: 5rem;
    width: 30rem;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: rgb(0, 45, 45) 2px 8px 8px -8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 3px solid red;
}

.choose-n-start-btn:hover {
    box-shadow: rgb(0, 45, 45) 1px 6px 6px -2px;
    transform: translate3d(1px, 1px, 0);
    background-color: #effaff;
    color: rgba(39, 93, 8, 1);
}

/* ****************** */

.home-bamboo-wrapper {
    width: 80%;
    float: right;
    margin-top: -15rem;
    position: sticky;
    z-index: -1;
    border: 3px solid red;
}

.home-bamboo {
    width: 100%;
}

.riverli-wrapper {
    width: 80%;
    float: right;
    /* margin-right: -8rem; */
    margin-top: -5rem;
    position: sticky;
    z-index: -1;
    border: 3px solid yellow;
}

.riverLi {
    width: 100%;
}

/* ****************** */

.first-home-container {
    border: 3px solid red;
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    width: 100%;
    z-index: -1;
}

.cloud-wrapper {
    border: 3px solid greenyellow;
    width: 30%;
    margin-top: 3rem;
    /* margin-left: -5rem; */
    z-index: -1;
}

.cloud {
    width: 100%;
}

.temple-wrapper {
    width: 80%;
    margin-left: 5rem;
    margin-top: -2rem;
    /* position: sticky; */
    z-index: -1;
    border: 3px solid skyblue;
}

.temple {
    width: 100%;
}

/**************************** RESPONSIVENESS ***************************/

/* Laptop */

/* @media screen and (max-width: 1540px) {
    .choose-n-start-btn {
        border: 3px solid red;
    }
} */