/* font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Ma Shan Zheng', cursive; */

.navbar {
    background-color: #8CAE6D;
    display: flex;
    justify-content: center;
    padding-left: 10rem;
    /* box-shadow: #8CAE6D 0px 0px 10px 10px; */
}

.navbar-brand {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px;
    margin-right: 3rem;
    margin-left: -3rem;
    border: 3px solid red;
}

.navbar-brand {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 60px;
    margin-right: 3rem;
    margin-left: -3rem;
}

.putonghua {
    font-family: 'Ma Shan Zheng', cursive; 
    color: #9b0000;
}

.nav-container {
    border: 3px solid coral;
    color: rgba(39, 93, 8, 1);
}

.navlink {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 1000;
    background-color: #d2e5ed;
    border-radius: 12px;
    /* border: 1px solid rgb(0, 45, 45); */
    /* height: 5rem; */
    width: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: rgb(0, 45, 45) 2px 8px 8px -8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navlink:hover {
    box-shadow: rgb(0, 45, 45) 1px 6px 6px -2px;
    transform: translate3d(1px, 1px, 0);
    background-color: #effaff;
}

.nav-text {
    color: rgba(39, 93, 8, 1);
}

.admin-wrapper {
    border: 3px solid blue;
    margin-left: 20rem;
}

.admin-navlink {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 1000;
    background-color: #d2e5ed;
    border-radius: 12px;
    /* border: 1px solid rgb(0, 45, 45); */
    /* height: 5rem; */
    width: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: rgb(0, 45, 45) 2px 8px 8px -8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.admin-navlink:hover {
    box-shadow: rgb(0, 45, 45) 1px 6px 6px -2px;
    transform: translate3d(1px, 1px, 0);
    background-color: #effaff;
}

/* **************** RESPONSIVENESS ************ */

@media screen and (max-width: 1540px) {
    .navbar {
        /* background-color: rgb(108, 108, 255); */
        padding-left: 1rem;
    };
}

@media screen and (max-width: 1540px) {
    .navbar-brand {
        font-size: 30px;
        margin: 0;
        padding: 0;
        /* border: 3px solid white; */
    }
}

@media screen and (max-width: 1160px) {
    .navbar {
        margin: 0;
        padding: 6px;
        max-width: 100%;
    }

    .admin-wrapper {
        margin: 0;
    }
    
    .navlink {
        width: fit-content;
    }

    .admin-navlink {
        width: fit-content;
    }
}

@media screen and (max-width: 990px) {
    .navbar {
        border: 3px solid rgb(0, 255, 213);
        max-width: 100%;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
    }

    .nav-container {
        border: 3px solid white;
        margin: 0;
        padding: 0;
    }

    .admin-wrapper {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 779px) {
    .navbar {
        max-width: 100%;
    }

    .navlink {
        font-size: 15px;
        margin: 10%;
    }

    .admin-navlink {
        font-size: 15px;
        /* margin: 10%; */
        
    }

    .nav-container {
        border: 3px solid rgb(0, 94, 255);
        max-width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .navlink {
        margin: 10%;
    }
}
